@import url("https://fonts.googleapis.com/css?family=Special+Elite&display=swap");
:root {
  --default-width: 67.5em;
  --color-site: #aa2727;
  --color-elements: #F5F9FF;
  --color-hover-logo: #aa987F;
  --color-background: #F5F5F5;
  --color-border-default: #d33030;
  --spacing: 1.5em;
  --font-size-default: 16px;
  --font-size-larger: 18px;
  --font-size-big: 20px;
  --font-size-huge: 22px; }

@-webkit-keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(var(--spacing)); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(var(--spacing)); }
  to {
    opacity: 1;
    transform: translateY(0); } }

.inner-item:nth-child(even) {
  -webkit-animation: slideIn 1.2s ease-in-out;
          animation: slideIn 1.2s ease-in-out; }

body {
  background: var(--color-background);
  font: var(--font-size-larger)/1.2 "Microsoft JhengHei Light"; }

.site {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas: "siteHeader" "siteMain" "siteFooter";
  justify-items: stretch; }
  .site-header {
    grid-area: siteHeader; }
  .site-main {
    margin: 0 auto;
    grid-area: siteMain;
    padding: var(--spacing); }
  .site-footer {
    grid-area: siteFooter; }

section.home {
  display: grid;
  grid-auto-flow: column;
  height: auto;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center; }
  section.home > .outer-item {
    margin: 0 auto;
    border: var(--color-site) solid 1px;
    border-radius: 10px;
    border-bottom: transparent;
    overflow: hidden;
    background-size: cover; }
    section.home > .outer-item:nth-child(2) {
      padding: var(--spacing);
      margin: var(--spacing); }

.about, .products, .services, .contacts {
  max-width: calc(var(--spacing) / 3); }
  .about .outer-item, .products .outer-item, .services .outer-item, .contacts .outer-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .about .outer-item .inner-item, .about .outer-item h2, .products .outer-item .inner-item, .products .outer-item h2, .services .outer-item .inner-item, .services .outer-item h2, .contacts .outer-item .inner-item, .contacts .outer-item h2 {
      display: flex;
      width: calc(var(--spacing) * 8);
      align-items: center;
      flex-direction: column;
      overflow: hidden;
      border: var(--color-site) solid 1px;
      border-radius: 10px;
      border-bottom: transparent;
      margin: calc(var(--spacing) / 2);
      padding: calc(var(--spacing) / 5);
      background: var(--color-elements); }
      .about .outer-item .inner-item .form-control, .about .outer-item h2 .form-control, .products .outer-item .inner-item .form-control, .products .outer-item h2 .form-control, .services .outer-item .inner-item .form-control, .services .outer-item h2 .form-control, .contacts .outer-item .inner-item .form-control, .contacts .outer-item h2 .form-control {
        border: var(--color-site) solid 1px;
        border-radius: 10px;
        padding: calc(var(--spacing) / 5);
        margin: calc(var(--spacing) / 5); }
      .about .outer-item .inner-item button, .about .outer-item h2 button, .products .outer-item .inner-item button, .products .outer-item h2 button, .services .outer-item .inner-item button, .services .outer-item h2 button, .contacts .outer-item .inner-item button, .contacts .outer-item h2 button {
        background: var(--color-elements);
        color: #000; }
        .about .outer-item .inner-item button:hover, .about .outer-item h2 button:hover, .products .outer-item .inner-item button:hover, .products .outer-item h2 button:hover, .services .outer-item .inner-item button:hover, .services .outer-item h2 button:hover, .contacts .outer-item .inner-item button:hover, .contacts .outer-item h2 button:hover {
          background: var(--color-site);
          color: var(--color-background);
          border: black solid 1px;
          border-radius: 10px;
          cursor: pointer; }

.site-header {
  display: flex;
  border-bottom: 1px solid var(--color-border-default);
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: var(--color-elements);
  font: var(--font-size-huge)/1.2 "Special Elite", cursive; }

.site-title {
  margin: auto var(--spacing);
  border: var(--color-site) #aa2727 solid;
  border-radius: 10px; }
  .site-title a {
    display: block;
    text-decoration: none; }
    .site-title a:hover {
      color: var(--color-hover-logo); }

.site-nav {
  margin: auto var(--spacing);
  margin-left: auto; }
  .site-nav ul {
    display: flex; }
    .site-nav ul li {
      margin: calc(var(--spacing) / 3);
      list-style: none; }
      .site-nav ul li a {
        font-size: var(--font-size-larger);
        border: var(--color-background) solid 1px;
        padding: calc(var(--spacing) / 3);
        -webkit-animation: slideIn 1.5s backwards ease-in-out;
                animation: slideIn 1.5s backwards ease-in-out; }
        .site-nav ul li a:hover {
          background: var(--color-site);
          color: var(--color-background);
          border: black solid 1px;
          border-radius: 10px; }

.site a {
  text-decoration: none;
  color: var(--color-site); }

.site-footer {
  display: flex;
  border-top: 1px solid var(--color-site);
  padding-top: calc(var(--spacing) / 2);
  bottom: 0;
  justify-content: center;
  background: var(--color-elements); }
  .site-footer > p {
    font: var(--font-size-huge)/1.2 "Special Elite", cursive; }
