@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Special+Elite&display=swap");
:root {
  --color-site: #5C67FE;
  --home-page-font-color: white;
  --color-elements: #F5F9FF;
  --color-hover-logo: #02fCC0;
  --color-background: #F5F5F5;
  --color-border-default: #02FC46;
  --color-home-center: #00022A;
  --spacing: 1.5em;
  --font-size-smallеr: 12px;
  --font-size-small: 14px;
  --font-size-default: 16px;
  --font-size-large: 18px;
  --font-size-larger: 20px;
  --font-size-huge: 22px;
  --font-size-max: 24px; }

@-webkit-keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(var(--spacing)); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(var(--spacing)); }
  to {
    opacity: 1;
    transform: translateY(0); } }

.inner-item:nth-child(even) {
  -webkit-animation: slideIn 1.2s ease-in-out;
          animation: slideIn 1.2s ease-in-out; }

@media screen and (min-width: 320px) and (max-width: 479px) {
  html {
    font-size: var(--font-size-smallеr); }
    html .site-header {
      opacity: 0.8; }
      html .site-header .site-nav ul {
        display: flex;
        flex-direction: column;
        margin-right: var(--spacing);
        font-size: calc(var(--font-size-small) / 5); }
        html .site-header .site-nav ul li a {
          color: black;
          font-size: calc(var(--font-size-default)); } }

@media screen and (min-width: 480px) and (max-width: 639px) {
  html {
    font-size: var(--font-size-small); }
    html .site-header {
      opacity: 0.8; }
      html .site-header .site-nav ul {
        display: flex;
        flex-direction: column;
        margin-right: var(--spacing);
        font-size: calc(var(--font-size-small) / 5); }
        html .site-header .site-nav ul li a {
          color: black;
          font-size: calc(var(--font-size-default)); } }

@media screen and (min-width: 640px) and (max-width: 767px) {
  html {
    font-size: var(--font-size-default); }
    html .site-header {
      opacity: 0.8; }
      html .site-header .site-nav ul {
        display: flex;
        flex-direction: column;
        margin-right: var(--spacing);
        font-size: calc(var(--font-size-small) / 5); }
        html .site-header .site-nav ul li a {
          color: black;
          font-size: calc(var(--font-size-default)); } }

@media screen and (min-width: 768px) and (max-width: 959px) {
  html {
    font-size: var(--font-size-large); }
    html .site-header {
      position: relative; }
      html .site-header .site-nav ul {
        display: flex;
        flex-direction: column;
        margin-right: var(--spacing);
        font-size: calc(var(--font-size-small) / 5); }
        html .site-header .site-nav ul li a {
          color: black;
          font-size: calc(var(--font-size-default)); } }

@media screen and (min-width: 960px) and (max-width: 1023px) {
  html {
    font-size: var(--font-size-larger); } }

@media screen and (min-width: 1024px) and (max-width: 1599px) {
  html {
    font-size: var(--font-size-huge); } }

@media screen and (min-width: 1600px) and (max-width: 3840px) {
  html {
    font-size: var(--font-size-max); } }

button {
  background: var(--color-elements);
  color: #000; }
  button:hover {
    background: var(--color-site);
    color: var(--color-background);
    border: black solid 1px;
    border-radius: 10px;
    cursor: pointer; }

a:hover {
  opacity: 0.7; }

.form-control {
  border: var(--color-site) solid 1px;
  border-radius: 10px;
  padding: calc(var(--spacing) / 2);
  margin: calc(var(--spacing) / 5); }

.site-header {
  display: flex;
  border-bottom: 1px solid var(--color-border-default);
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: var(--color-elements);
  font: var(--font-size-huge)/1.2 "Special Elite", cursive; }

.site-title {
  margin: auto var(--spacing); }
  .site-title a {
    display: block;
    text-decoration: none; }
    .site-title a:hover {
      color: var(--color-hover-logo); }

.site-nav {
  margin: auto var(--spacing);
  margin-left: auto; }
  .site-nav ul {
    display: flex; }
    .site-nav ul li {
      margin: calc(var(--spacing) / 3);
      list-style: none; }
      .site-nav ul li a {
        font-size: var(--font-size-larger);
        border: var(--color-background) solid 1px;
        padding: calc(var(--spacing) / 3);
        -webkit-animation: slideIn 1.5s backwards ease-in-out;
                animation: slideIn 1.5s backwards ease-in-out; }
        .site-nav ul li a:hover {
          background: var(--color-site);
          color: var(--color-background);
          border: black solid 1px;
          border-radius: 10px; }

.site a {
  text-decoration: none;
  color: var(--color-site); }

.site-footer {
  display: flex;
  border-top: 1px solid var(--color-border-default);
  padding-top: calc(var(--spacing) / 2);
  bottom: 0;
  justify-content: center;
  background: var(--color-elements); }
  .site-footer > p {
    font: var(--font-size-huge)/1.2 "Special Elite", cursive; }

body {
  background: var(--color-background);
  font-family: "Microsoft JhengHei Light", sans-serif; }

.site {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas: "siteHeader" "siteMain" "siteFooter";
  justify-items: stretch; }
  .site-header {
    grid-area: siteHeader; }
  .site-main {
    grid-area: siteMain;
    margin: 0 auto; }
  .site-footer {
    grid-area: siteFooter; }

.home {
  background: linear-gradient(rgba(2, 0, 0, 0.6), rgba(0, 0, 50, 0.7)), url("https://images.unsplash.com/photo-1458682625221-3a45f8a844c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80") no-repeat center center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  color: white; }
  .home-top {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    align-items: flex-start; }
    .home-top .outer-item:nth-child(1) {
      margin: var(--spacing);
      grid-column: 1 / 5; }
    .home-top .outer-item:nth-child(2) {
      grid-column: 5 / 8;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      margin: var(--spacing); }
      .home-top .outer-item:nth-child(2) .inner-item:first-child {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-evenly;
        align-items: center; }
      .home-top .outer-item:nth-child(2) img {
        max-width: 100%;
        height: auto; }
  .home-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(100, 100, 100, 0.6), rgba(190, 190, 190, 0.7)), url("https://cdn-image.realsimple.com/sites/default/files/styles/medium_2x/public/penny-tile-ideas-gray-marble-tiles.jpg?itok=AL3uMtaJ&1547837147") no-repeat center center;
    color: var(--color-home-center);
    font-weight: bolder;
    background-size: cover; }
    .home-center .outer-item {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-evenly;
      flex-wrap: wrap; }
      .home-center .outer-item .inner-center {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 var(--spacing);
        flex-direction: column; }
    .home-center .service-item {
      margin: 0 var(--spacing);
      flex-direction: column; }
    .home-center i {
      margin-right: calc(var(--spacing) / 5); }
  .home-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .home-bottom .outer-item {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap; }
    .home-bottom .service-item {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 var(--spacing);
      flex-direction: column; }
    .home-bottom h4:hover {
      color: var(--color-hover-logo);
      cursor: pointer; }
    .home-bottom i {
      margin-right: calc(var(--spacing) / 5); }

.about, .products, .services, .contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .about .outer-item, .products .outer-item, .services .outer-item, .contacts .outer-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .about .outer-item h2, .about .outer-item .inner-item, .products .outer-item h2, .products .outer-item .inner-item, .services .outer-item h2, .services .outer-item .inner-item, .contacts .outer-item h2, .contacts .outer-item .inner-item {
      display: flex;
      width: calc(var(--spacing) * 8);
      align-items: center;
      flex-direction: column;
      background: var(--color-elements); }
      .about .outer-item h2 img, .about .outer-item .inner-item img, .products .outer-item h2 img, .products .outer-item .inner-item img, .services .outer-item h2 img, .services .outer-item .inner-item img, .contacts .outer-item h2 img, .contacts .outer-item .inner-item img {
        max-width: 100%;
        height: auto; }

.item-layout {
  border: var(--color-site) solid 1px;
  border-radius: 10px;
  overflow: hidden;
  border-bottom: transparent;
  margin: calc(var(--spacing) / 2);
  padding: calc(var(--spacing)/5); }
