@import url("https://fonts.googleapis.com/css?family=Special+Elite&display=swap");
:root {
  --default-width: 72em;
  --color-site: #aa2727;
  --color-header: #F5F9FF;
  --color-background: #F5F5F5;
  --color-border-default: #d33030;
  --spacing: 1.5em;
  --font-size-default: 16px;
  --font-size-larger: 18px;
  --font-size-big: 20px;
  --font-size-huge: 22px; }

body {
  background: var(--color-background);
  font: var(--font-size-huge)/1.2 "Microsoft JhengHei Light"; }

.site-main {
  max-width: var(--default-width);
  margin: 0 auto;
  padding: 2em; }

@media (min-width: 1024px) {
  display: grid;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  .site-header {
    grid-area: header; }
  .site-main {
    grid-area: main; }
  .site-footer {
    grid-area: footer; }
  .site-nav {
    grid-area: nav; } }

.site-contacts {
  display: flex;
  justify-content: space-evenly; }

.site-header {
  display: flex;
  border-bottom: 1px solid var(--color-border-default);
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: var(--color-header);
  font: var(--font-size-huge)/1.2 "Special Elite", cursive; }

.site-title {
  margin: auto var(--spacing);
  border: var(--color-site) #aa2727 solid;
  border-radius: 10px; }
  .site-title a {
    display: block;
    text-decoration: none; }
    .site-title a:hover {
      content: "Home"; }

.site-nav {
  margin: auto var(--spacing);
  margin-left: auto; }
  .site-nav ul {
    display: flex; }
    .site-nav ul li {
      margin: calc(var(--spacing) / 3);
      list-style: none; }
      .site-nav ul li a {
        text-decoration: none;
        font-size: var(--font-size-larger);
        border: var(--color-background) solid 1px;
        padding: calc(var(--spacing) / 3); }
        .site-nav ul li a:hover {
          background: var(--color-site);
          color: var(--color-background);
          border: black solid 1px; }

.site-footer {
  border-top: 1px solid var(--color-site);
  padding-top: calc( var(--spacing) / 2);
  display: flex;
  justify-content: center;
  background: var(--color-header); }
