//BOTTOM TO TOP SLIDE IN

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(var(--spacing));
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


//MAIN

.inner-item:nth-child(even) {
    animation: slideIn 1.5s ease-in-out;
}




