//SITE STYLES
body {
  background: var(--color-background);
  font-family: "Microsoft JhengHei Light", sans-serif;
}

//SITE GRID
.site {
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-areas: "siteHeader" "siteMain" "siteFooter";
  justify-items: stretch;

  &-header {
    grid-area: siteHeader;
  }

  &-main {
    grid-area: siteMain;
    margin: 0 auto;
  }

  &-footer {
    grid-area: siteFooter;
  }
}

//HOME PAGE STYLES


section.home {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: column;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 100, 0.6)), url("https://images.unsplash.com/photo-1458682625221-3a45f8a844c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80") no-repeat center center;;
  background-size: cover;
  justify-content: center;
  align-items: center;

  & > .outer-item {
    margin: var(--spacing) auto;
    border: var(--color-site) solid 1px;
    border-radius: 10px;
    border-bottom: transparent;
    overflow: hidden;

    background-size: cover;

    &:nth-child(1) {
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 100, 0)), url("https://images.unsplash.com/photo-1462121594302-c1ed6b9ab32d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60") no-repeat center center;;
      grid-column: 1 / 3;
      height: 80%;
      width: auto;
      & #newsletter {
        display: flex;
        font-weight: bolder;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: var(--spacing);

        & p {
          color: white;
        }

        & p, input, button {
          margin: var(--spacing);
        }
      }
    }

    &:nth-child(2) {
      background: var(--color-elements);
      opacity: 0.8;
      grid-column: 3 / 6;
      padding: var(--spacing);
      margin: var(--spacing);
    }
  }
}

//ABOUT PRODUCTS SERVICES CONTACTS STYLES
.about, .products, .services, .contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .outer-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2, .inner-item {
      display: flex;
      width: calc(var(--spacing) * 8);
      align-items: center;
      flex-direction: column;
      overflow: hidden;
      border: var(--color-site) solid 1px;
      border-radius: 10px;
      border-bottom: transparent;
      margin: calc(var(--spacing) / 2);
      padding: calc(var(--spacing) / 5);
      background: var(--color-elements);
    }
  }
}
