body {
  background: var(--color-background);
  font: var(--font-size-larger)/1.2 "Microsoft JhengHei Light";
}

.site {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas:
          "siteHeader siteHeader siteHeader"
          "siteMain siteMain siteMain"
          "siteFooter siteFooter siteFooter";

  &-header {
    grid-area: siteHeader;
  }

  &-main {
    grid-area: siteMain;
    justify-content: center;
  }

  &-footer {
    grid-area: siteFooter;
  }
}



.contacts, .products, .services{


  .outer-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .inner-item, h2 {
      display: flex;
      width: calc(var(--spacing)*8);
      align-items: center;
      flex-direction: column;
      overflow: hidden;
      border: var(--color-site) solid 1px;
      border-radius: 10px;
      border-bottom: transparent;
      margin: calc(var(--spacing) / 2);
      padding: calc(var(--spacing) / 5);
      background: var(--color-elements);


      .form-control {
        border: var(--color-site) solid 1px;
        border-radius: 10px;
        padding: calc(var(--spacing) / 5);
        margin: calc(var(--spacing) / 5);
      }

      button {
        background: var(--color-elements);
        color: #000;

        &:hover {
          background: var(--color-site);
          color: var(--color-background);
          border: black solid 1px;
          border-radius: 10px;
          cursor: pointer;
        }
      }
    }
  }
}






