.site-footer {
  display: flex;
  border-top: 1px solid var(--color-site);
  padding-top: calc(var(--spacing) / 2);
  bottom: 0;
  justify-content: center;
  background: var(--color-elements);

  & > p {
    font: var(--font-size-huge)/1.2 'Special Elite', cursive;

  }

}
