@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');


.site {


  &-header {
    display: flex;
    border-bottom: 1px solid var(--color-border-default);
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: var(--color-elements);
    font: var(--font-size-huge)/1.2 'Special Elite', cursive;


  }

  &-title {
    margin: auto var(--spacing);
    border: var(--color-site) #aa2727 solid;
    border-radius: 10px;

    a {
      display: block;
      text-decoration: none;

      &:hover {
        color: var(--color-site);
      }
    }
  }

  &-nav {
    margin: auto var(--spacing);
    margin-left: auto;

    ul {
      display: flex;

      li {
        margin: calc(var(--spacing) / 3);
        list-style: none;

        a {
          font-size: var(--font-size-larger);
          border: var(--color-background) solid 1px;
          padding: calc(var(--spacing) / 3);
          animation: slideIn 1.5s backwards ease-in-out;

          &:hover {
            background: var(--color-site);
            color: var(--color-background);
            border: black solid 1px;
            border-radius: 10px;
          }
        }
      }
    }
  }

  a {
    text-decoration: none;
    color: var(--color-site);
  }
}
