@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');

.site {



  &-header {
    display: flex;
    border-bottom: 1px solid var(--color-border-default);
    margin-bottom: var(--spacing),2.5em;
    padding-bottom: calc(var(--spacing) / 2);
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: var(--color-background);
    font: var(--font-size-huge)/1.2 'Special Elite', cursive;


  }

  &-title {
    margin: auto var(--spacing);

    border: var(--color-site) #aa2727 solid ;
    border-radius: 10px;

    a {
      display: block;
      text-decoration: none;

      &:hover {
        content: "Home";
      }
    }
  }

  &-nav {
    margin: auto var(--spacing);
    margin-left: auto;

    ul {
      display: flex;

      li {
        margin: calc(var(--spacing) / 3);
        list-style: none;

        a {
          text-decoration: none;
          font-size: var(--font-size-default);
          &:hover {
            background: var(--color-site), #aa2727;
            color: var(--color-background), #F5F5F5;
          }
        }
      }
    }
  }

}
