@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');

.site {

  &-header {
    display: flex;
    border-bottom: 1px solid var(--color-border-default);
    margin-bottom: var(--spacing);
    padding-bottom: calc(var(--spacing) / 2);
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    background: var(--color-background);


  }

  &-title {
    margin: auto var(--spacing);
    font: var(--font-size-huge)/1.9 'Special Elite', cursive;

    a {
      display: block;
      text-decoration: none;
      &:hover {
        content: "Home";
      }
    }
  }

  &-nav {
    margin: auto var(--spacing);
    margin-left: auto;

    ul {
      display: flex;

      li {
        margin: calc(var(--spacing) / 3);
        list-style: none;

        a {
          text-decoration: none;

          a:hover {
            background: var(--color-site), #aa2727;
            color: var(--color-background), #F5F5F5;
          }
        }


      }
    }
  }

}
