.site-footer {
    border-top: 1px solid var(--color-site);
    padding-top: calc( var(--spacing) / 2 );
    display: flex;
    justify-content: center;
    background: var(--color-header);
    & > p {

    }
}
