:root {
    --default-width: 64em;
    --color-site: #aa2727;
    --color-background: #F5F5F5;
    --color-border-default: #d33030;
    --spacing: 2.5em;
    --font-size-default: 16px;
    --font-size-larger: 18px;
    --font-size-big: 20px;
    --font-size-huge: 22px;
}
