:root {

  --color-site: #5C67FE;
  --home-page-font-color: white;
  --color-elements: #F5F9FF;
  --color-hover-logo: #02fCC0;
  --color-background: #F5F5F5;
  --color-border-default: #02FC46;
  --color-home-center: #00022A;

  --spacing: 1.5em;

  --font-size-smallеr: 12px;
  --font-size-small: 14px;
  --font-size-default: 16px;
  --font-size-large: 18px;
  --font-size-larger: 20px;
  --font-size-huge: 22px;
  --font-size-max: 24px;


}
