:root {
    --default-width: 72em;
    --color-site: #aa2727;
    --color-elements: #F5F9FF;
    --color-hover-logo: #aa987F;
    --color-background: #F5F5F5;
    --color-border-default: #d33030;
    --spacing: 1.5em;
    --font-size-default: 16px;
    --font-size-larger: 18px;
    --font-size-big: 20px;
    --font-size-huge: 22px;
}
